*{
    box-sizing: border-box;
    margin: auto;
}
.container{
    width: 80%;
    height: 300px;
    background-color: antiquewhite;
    border: 1px solid black;
}
.abc{
    margin-top: 10px;
    margin-left: 20px;
}
.content{
    width: 80%;
    height: 150px;
    border-style: solid;
    border-width: 10px;
    margin-top: 30px;
    border-color: green yellow blue pink;
    border-radius: 0px 30px 70px 20px;
}