*{
    box-sizing: border-box;
    margin: auto;
}

.container{
   
    width: 90%;
    margin-top: 50px;
    height: 330px;
    border: 1px solid rgb(170, 157, 157);
    box-shadow: 1px -1px 20px 1px;
}
.important{
    width: 90px;
    height: 30px;
    background-color: red;
    font-size: 20px;
    margin-top: -25px;
    /*height: 30px;
    background-color: red;
    font-size: 20px;
    margin-top: -25px; */
    
}
.abc{
    margin-top: 25px;
    margin-left: 10px;
}
h1{
    margin-left: 10px;
}
.content{
    width: 90%;
    height: 150px;
    border-style:solid dashed groove double;
    border-width: 10px;
    border-color: #85C226 #F7C200 #4493A0 #DF127B;
    margin-top: 30px;
    margin-left: 80px;

}